:root {
    --primary-text: #475569;
    --secondary-text: #0F172A;
    --primary-color: #8455FF;
    --secondary-color: #351686;
    --light-primary-color: hsl(256, 85%, 80%);
}

main{
    display: flex;
    flex-direction: column;
    gap: 84px;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;

    span {
        font-size: 20px;
        font-weight: 700;
        color: #475569;
    }

    h1 {
        font-size: 72px;
        font-weight: 900;
        color: #0F172A;
    }
}

.benefit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;

    .benefit-data{
        border-bottom: 10px solid #5222D0 ;
        padding-bottom: 40px;
        h2 {
            font-size: 60px;
            font-weight: 600;
            font-family: "Roboto", sans-serif;
            color: #475569;
        }
    }

    p{
        font-size: 40px;
        font-style: italic;
        font-weight: 300;
        
        b{
            background: -webkit-linear-gradient(left, #351686, #B79FF7);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-style: normal;
        }
    }
}

.cta-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 84px;
    
    .img-section{
        width: 609px;
        img{
            object-fit: cover;
            margin-bottom: 20px;
        }
        h3{
            
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        p{
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 20px;
        }
    }
}

.segundo-cta-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3{
        font-family:"Roboto", "sans-serif";
        font-size: 60px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 40px;
    }

}


@media (min-width: 1080px) {
    .main-section {
        flex-direction: row;
    }

    .benefit-section {
        flex-direction: row;
    }

    .info-section{
        flex-direction: row;
    }
}